.shop_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.shop_manager_name {
    margin: 6px auto;
    padding: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.alert-success,
.alert-danger {
    text-align: center;
    font-size: 1rem;
}

.reservations {
    width: 100%;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservations-list {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    padding: 4px;
    margin: 8px 4px;
}

.shop_reservation {
    margin: 0 auto;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #f4f4f4;
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    color: black;
    font-size: 0.8rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
}

.reservation_th,
.reservation_td {
    border: 1px solid #7a7a7a;
    padding: 4px 10px;
    text-align: left;
}

.qr-data-display {
    padding: 2px;
    margin: 8px 4px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.reservation-details {
    width: 70%;
    text-align: left;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
}

.qr_data_content {
    margin: 6px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

.qr-section-button {
    width: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.start-scanner-btn,
.stop-scanner-btn,
.reset-btn {
    width: 30%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    margin: 14px 0;
    border: none;
}

#video-preview,
#canvas-preview {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 20%;
}


@media (max-width: 768px) {
    .shop_manager_name {
        margin: 4px auto;
        font-size: 1.2rem;
    }

    .alert-success,
    .alert-danger {
        font-size: 0.8rem;
    }


    .shop_reservation {
        width: 100%;
    }

    .qr-data-display {
        margin: 4px 0;
        font-size: 1.2rem;
    }

    .reservation-details {
        width: 100%;
        padding: 10px;
    }

    .qr_data_content {
        margin: 4px 0;
        font-size: 0.8rem;
    }

    .qr-section-button {
        width: 100%;
        margin: 4px 0;
    }

    #video-preview,
    #canvas-preview {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 200px;
    }
}

@media only screen and (width: 768px) {
    .shop_manager_name {
        margin: 10px auto;
        font-size: 1.3rem;
    }

    .alert-success,
    .alert-danger {
        font-size: 1rem;
    }

    .qr-data-display {
        margin: 8px 0;
        font-size: 1.3rem;
    }

    .reservation-details {
        width: 100%;
        padding: 10px;
    }

    .qr_data_content {
        margin: 8px 20px;
        font-size: 1.2rem;
    }

    .qr-section-button {
        width: 100%;
        margin: 10px 0;
    }

    #video-preview,
    #canvas-preview {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 220px;
    }

}