.admin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user__name {
    margin: 6px auto;
    padding: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.registration-text,
.registration-text-low {
    margin: 6px auto;
    padding: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.title-box,
.registration-text-box {
    margin: 4px;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0056b3;
}

.registration-form,
.registration-form-low {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(2, 0, 77, 0.61);
    width: 50% !important;
    margin: auto;
    padding: 4px;
    position: relative;
}

.registration-form-low {
    margin-top: 5%;
}

.create-form,
.create-shop-form {
    width: 100%;
    padding: 4px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
}

.icon-container img {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 0 5px;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.time,
.form-group {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

.input_shop_name,
.input_genre,
.input_area {
    width: 100%;
    padding: 18px 4px 0px 4px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input_genre::placeholder,
.input_area::placeholder {
    font-size: 1.2rem;
    color: #7a7a7a;
    font-weight: bold;
}

.label_open_time,
.label_close_time {
    width: 50%;
    font-size: 0.8rem;
    padding: 2px;
}

.input_open_time,
.input_close_time {
    width: 70%;
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
    display: none !important;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    display: block;
    margin-top: 5px;
    color: #333;
    font-size: 0.9em;
}

.input_image {
    display: none;
}

.description-text {
    width: 100%;
    height: 100px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.description-text::placeholder {
    font-size: 1.2rem;
    color: #7a7a7a;
    font-weight: bold;
}

.custom-file-upload {
    border: 1px solid #7a7a7a;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.input-group-time {
    display: flex;
    justify-content: center;
    width: 100%;
}

.time_box {
    display: flex;
    align-items: end;
    width: 65%;
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.register-button,
.new-register-button {
    width: 50%;
    height: 6%;
    padding: 8px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.register-button:hover {
    background-color: #003875;
}

@media (max-width: 768px) {

    .registration-form,
    .registration-form-low {
        width: 90% !important;
    }

    .title-box {
        padding: 14px 40px !important;
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 22px 0 !important;
    }

    .form__error {
        font-size: 0.8rem;
    }

    .form-title {
        margin: 0;
        line-height: 30px;
        font-size: 1.2rem;
    }


    input::placeholder {
        font-size: 1rem;
    }

    .register-button {
        width: 50%;
        height: 6%;
        padding: 8px 4px;
        font-size: 0.8rem;
        text-align: center;
    }

}