.admin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-title,
.user__name {
    margin: 6px auto;
    padding: 4px;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}


.registration-text,
.registration-text-low {
    width: 100%;
    margin: 6px auto;
    padding: 4px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.shop_manager_form,
.shop_registration_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    width: 50% !important;
    margin: auto;
    padding: 4px;
}

.shop_registration_form {
    margin-top: 5%;
}

.create-form,
.create-shop-form {
    width: 80%;
}

.icon-img {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 15px 5px;
    display: inline-block;
    vertical-align: middle;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.alert-success,
.alert-danger {
    text-align: center;
    font-size: 1rem;
}

.form__error {
    line-height: 22px;
    color: #ff0000;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.custom-select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
    width: 18px;
    height: 10px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.select_shop_id {
    width: 100%;
    padding: 10px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.input_email,
.input_password,
.input_shop_name,
.input_genre,
.input_area,
.input_user_name {
    width: 100%;
    padding: 2px 10px;
    border: none;
    border-bottom: 1px solid #7a7a7a;
    color: black;
    font-size: 1.2rem;
    line-height: 40px;
    height: 40px;
    outline: none;
}

.input-group-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label_open_time,
.label_close_time {
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px;
    color: rgba(0, 0, 0, 0.7);
}

.input_open_time,
.input_close_time {
    width: 100%;
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    color: rgba(0, 0, 0, 0.7);
}

.input_open_time::-webkit-calendar-picker-indicator,
.input_close_time::-webkit-calendar-picker-indicator {
    display: none;
}

.input_email::placeholder,
.input_password::placeholder,
.input_shop_name::placeholder,
.input_genre::placeholder,
.input_area::placeholder,
.input_user_name::placeholder {
    font-size: 1.2rem;
    color: black !important;
    opacity: 0.7 !important;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    display: block;
    margin-top: 5px;
    color: black;
    font-size: 1em;
}

.custom-file-upload {
    border: 1px solid #7a7a7a;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.input_image {
    display: none;
}

.description-text {
    width: 100%;
    height: 100px;
    padding: 2px 10px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    color: black;
    font-size: 1.2rem;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.description-text::placeholder {
    font-size: 1.2rem;
    color: black !important;
    opacity: 0.7 !important;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.register-button,
.new-register-button {
    width: 50%;
    height: 6%;
    padding: 8px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    display: block;
}

.register-button:hover {
    background-color: #003875;
}

@media (max-width: 768px) {

    .form-title,
    .user__name {
        font-size: 1rem;
    }

    .shop_manager_form,
    .shop_registration_form {
        width: 100% !important;
    }

    .register-button {
        padding: 8px 4px;
    }
}