.common_body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 5px;
    background-color: #f4f4f4;
}

.container {
    width: 100%;

}

.content {
    background-color: #f4f4f4;
    width: 96%;
    padding: 10px 20px;
    margin: 2%;
}

.top_logo {
    width: 50%;
    color: #0056b3;
    margin: 0;
    padding: 10px 4px;
    text-align: left;
    font-size: 1.8rem;
}

@media (max-width: 768px) {

    .content {
        background-color: #f4f4f4;
        width: 96%;
        padding: 10px 20px;
        margin: 2%;
    }

    .top_logo {
        width: 100%;
        padding: 2px 30px;
        margin-left: 20px;
    }
}