.detail_shop {
    width: 50%;
    margin-top: calc(6%);
    margin-left: calc(-50%);
    margin-right: 5%;
}

.navigation {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.back-link {
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 2px 4px;
    margin-right: 14px;
    font-size: 0.8rem;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}

.back-link:hover {
    background-color: rgb(226, 226, 226);
    color: #666565;
}

.image_section {
    width: 100%;
    padding: 8px 0;
}

.shop_image {
    width: 100%;
}

.description {
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 1rem;
}

.shop-guide {
    width: 80%;
    padding: 10px;
    text-align: start;
    margin: 0;
}

.navigation_shop_name {
    width: 80%;
    margin: 0;
}

.shop_name {
    font-size: 1rem;
}

.form-section {
    width: 50%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #044c99;
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.733);
    margin-top: 15px;
    margin-left: 4%;
}

.reserve {
    width: 100%;
    text-align: left;
    padding: 20px 20px 2px 20px;
    margin: 0;
    font-size: 1.2rem;
}

.reserve_form {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4px 12px;
}

.label_date {
    width: calc(40% - 24px);
    padding: 4px 12px;
    margin: 2px 14px;
}

.label_time,
.label_number,
.label_shop,
.label_date_session,
.label_time_session,
.label_number_session {
    width: calc(100% - 24px);
    margin: 2px 10px;
    padding: 4px 12px;
    color: white;
}

.select_time,
.select_number {
    margin: 2px 14px;
    padding: 4px 12px;
    width: calc(100% - 24px);
    border-radius: 4px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: white;
    z-index: 1;
}

.input_date {
    margin: 2px 14px;
    padding: 4px 12px;
    width: calc(50% - 24px);
    border-radius: 4px;
    border: none;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

/* カスタムアイコンのスタイル */
.custom-select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.reservation-summary {
    width: calc(100% - 20px);
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #044c99;
    color: white;

}

.summary-item {
    width: calc(100% - 20px);
    padding: 4px;
    text-align: left;
}

.button-container {
    width: 100%;
    margin-top: auto;
}

.reserve-button {
    width: 100%;
    background-color: #013a77;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    margin-top: auto;
}

.reserve-button:hover {
    background-color: #044c99;
}

.qr-code {
    width: 100%;
    padding: 2px;
    text-align: center;
}

.qr-text {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 1rem;
    margin: 4px 0;
}

.form__error {
    margin: 2px 14px;
    padding: 4px 12px;
    width: calc(100% - 24px);
    height: 16px;
    color: #ff0000;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        padding: 10px;
    }

    .header {
        width: 100%;
        padding: 10px;
    }

    .detail_shop {
        width: 100%;
        margin: 0;
    }


    .image-section {
        width: 100%;
    }

    .reservation {
        width: 100%;
    }

    .form-section {
        width: 100%;
        height: auto;
        margin: 10% 0;
    }

    .reserve {
        width: calc(100% - 24px);
        margin-top: 5%;
        padding: 4px 12px;
    }

    .reserve_form {
        padding: 4px 0;
    }

    .input_date {
        width: 60%;
    }

    .reservation-summary {
        width: 90%;
    }

}

@media only screen and (width: 768px) {
    .header {
        width: 80%;
        margin: 0 10%;
    }

    .label_date {
        width: calc(40% - 24px);
        padding: 4px 12px;
        margin: 2px 14px;
    }

    .label_time,
    .label_number,
    .label_shop,
    .label_date_session,
    .label_time_session,
    .label_number_session {
        width: calc(100% - 24px);
        margin: 2px 10px;
        padding: 4px 12px;
    }

    .select_time,
    .select_number {
        width: 80%;
        margin: 2px 14px;
        padding: 4px 12px;
        width: calc(100% - 24px);
    }

    .input_date {
        margin: 2px 14px;
        padding: 4px 12px;
        width: calc(50% - 24px);
    }

}