.payment-group {
    width: 60%;
    margin: 5% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
    border-radius: 6px;
}

.payment_form {
    width: 90%;
    margin: 5%;
}

.form-row {
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 2px;

}

.card-content {
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: #f4f4f4;
}

.label_card_content {
    color: black;
    font-weight: bold;
}

/* ボタンのスタイルをカスタマイズ */
.payment-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 16px 10px;
    font-weight: bold;
}

.payment-button:hover {
    background-color: #5c67f2;
}