.user__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 2px;
    padding: 2px;
}

/*ページ全体*/
.sections-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*現在の予約一覧*/
.reservation-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 8px;
    background-color: #f4f4f4;
    border-radius: 6px;
    height: auto;
    overflow: auto;
    font-size: 0.8rem;
}

.section-title,
.favorite-title {
    text-align: start;
    font-size: 1.2rem;
    padding: 10px;
    margin: 2px;
    font-weight: bold;
}

.reservation-success {
    font-size: 1rem;
}

/*予約データ*/
.reservation-summary {
    position: relative;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    margin: 6px 0;
    background-color: #044c99;
    color: white;
    font-size: 0.8rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.726);
}

/*予約変更form*/
.update_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 12px;
    background-color: #044c99;
    color: white;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #044c99;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.cross_image {
    width: 20px;
    height: 20px;
    margin: 12px 14px;
    cursor: pointer;
}

.reservation-summary-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.clock-icon {
    width: 25px;
    height: 25px;
    margin: 15px 14px;
}

.reservation-summary-date {
    width: calc(40% - 8px);
    padding: 4px;
    margin: 5px;
    text-align: left;
}

.form-group {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
}

.label_shop_name,
.label_date,
.label_time,
.label_number {
    width: calc(44% - 10px);
    margin: 2px 10px;
    padding: 5px;
    color: white;
}

.summary-name,
.input_date {
    padding: 5px;
    width: calc(80% - 10px);
    border-radius: 4px;
    border: none;
    text-align: left;
}

.select_time,
.select_number {
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 4px;
    text-align: left;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: white;
    z-index: 1;

}

.select-wrapper {
    width: 100%;
    position: relative;
}

/* カスタムアイコンのスタイル */
.custom-select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.reservation-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    margin: 5px auto;
}

.edit-reservation-button,
.delete-reservation-button {
    width: 46%;
    padding: 6px 14px;
    background-color: #f4f4f4;
    color: #0056b3;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 14px;
    font-size: 0.8rem;
    text-align: center;
    border: none;
}

.edit-reservation-button:hover,
.delete-reservation-button:hover {
    background-color: #0676ee;
    color: #f4f4f4;
}

.qr_code_image {
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
}

/*5段階評価＆レビューコメント*/
.store_form {
    position: relative;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    border-radius: 6px;
    margin: 6px 0;
    font-size: 0.8rem;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.726);
}

.rating-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.label_rating {
    width: calc(44.5% - 10px);
    padding: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.label_comment {
    width: calc(40% - 10px);
    padding: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.select_rating {
    position: relative;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    font-weight: bold;
    border: 1px solid #0056b3;
    border-radius: 4px;
    text-align: center;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}

.text_comment {
    width: calc(90% - 8px);
    height: 100px;
    padding: 4px;
    border: 1px solid #0056b3;
    border-radius: 4px;
    outline: none;
}

.review-button {
    width: 40%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 1% 2% 3% 2%;
    font-size: 0.8rem;
    text-align: center;
    margin: 10px;
    border: none;
}

.rating-select-icon {
    position: absolute;
    right: 15px;
    top: 34%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 3;
}

/*お気に入り店舗*/
.favorite-shops-section {
    flex: 1;
    margin: 0 10px;
    padding: 0;
    background-color: #f4f4f4;
    border-radius: 6px;
}

.favorite_shops {
    margin: 0 10px;
    padding: 0;
    background-color: #f4f4f4;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
}

.favorite-shops {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop_card {
    flex: 0 1 43%;
    height: 36vh;
    margin-bottom: 1%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    padding: 0;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

/* カード内の画像スタイル */
.shop_card_image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* カード内の情報スタイル */
.shop_info {
    padding: 6px;
}

.shop-name {
    margin: 0;
    padding: 6px;
    font-size: 1rem;
}

.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 0.8rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: -6px;
}

.shop-detail {
    width: 40%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 1% 2% 3% 2%;
    font-size: 0.8rem;
    text-align: center;
    margin: 5px;
}

/* お気に入りボタンのスタイル */
.favorite-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(228, 225, 225);
    padding: 1px 15px 1px 15px;
}

/* お気に入りに追加されたときのボタンのスタイル */
.favorite-button.favorited {
    color: red;
    /* お気に入りの場合は赤色に */
}

/* レスポンシブデザインの設定 */
@media (max-width: 768px) {
    .user__name {
        font-size: 1.2rem;
    }

    /*ページ全体*/
    .sections-container {
        width: 100%;
        flex-direction: column;
    }

    /*現在の予約一覧*/
    .reservation-section {
        width: 100%;
        align-items: center;
        margin: 0;
    }

    .section-title,
    .favorite-title {
        text-align: center;
        font-size: 1.2rem;
        padding: 2px;
        margin: 2px;
    }

    .close-button {
        top: 10px;
        right: 10px;
    }

    .cross_image {
        margin: 10px;
    }

    .clock-icon {
        margin: 10px;
    }

    .reservation-summary-date {
        width: calc(50% - 8px);
    }

    .label_shop_name,
    .label_date,
    .label_time,
    .label_number {
        margin: 2px;
    }

    /* カスタムアイコンのスタイル */
    .custom-select-icon {
        top: 45%;
    }

    .reservation-button-container {
        padding: 4px;
    }

    .edit-reservation-button,
    .delete-reservation-button {
        width: 60%;
        padding: 2px;
        margin: 4px;
        font-size: 1rem;
    }

    .edit-reservation-button:hover,
    .delete-reservation-button:hover {
        background-color: #0676ee;
        color: #f4f4f4;
    }

    /*5段階評価＆レビューコメント*/
    .store_form {
        padding: 10px;
        margin: 10px;
        font-size: 1rem;
    }

    .review-button {
        width: 50%;
        padding: 4px;
        margin: 10px;
        border: none;
    }

    .rating-select-icon {
        top: 30%;
    }

    /*お気に入り店舗*/
    .favorite-shops-section {
        flex: 1;
        margin: 0 10px;
        padding: 0;
        background-color: #f4f4f4;
        border-radius: 6px;
    }

    .shop_card {
        flex: 0 1 100%;
        justify-content: center;
    }

    .shop-detail {
        width: 50%;
        padding: 4px;
        font-size: 1rem;
    }
}

@media only screen and (width: 768px) {
    .user__name {
        font-size: 1.4rem;
    }

    /*現在の予約一覧*/
    .reservation-section {
        width: 70%;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    /*予約データ*/
    .reservation-summary {
        font-size: 1rem;
    }

    /*5段階評価＆レビューコメント*/
    .store_form {
        font-size: 1rem;
    }

    .review-button {
        width: 40%;
        font-size: 1rem;
    }


    .favorite-shops {
        width: 70%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
    }
}